
<h1> {{title}}  </h1>

<form action="" method="post">
  <div class="form-group">
    <label for="name">
      Genre:
      <input type="text" name="name" placeholder="Fantasy, Poetry, etc." value="genre.name">
      <input type="submit" value="Submit">
    </label>
  </div>
</form>

