<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css'>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-2">
          {{!-- sidebar block --}}
          <ul class="sidebar-nav">
            <li><a href="/catalog">Home</a></li>
            <li><a href="/catalog/movies">All Movies</a></li>
            <li><a href="/catalog/directors">All Directors</a></li>
            <li><a href="/catalog/genres">All Genres</a></li>
            <li><a href="/catalog/movieinstance">All Book Instances</a></li>
            <li><hr></li>
            <li><a href="catalog/director/create">Create a new director</a></li>
            <li><a href="catalog/genre/create">Create a new genre</a></li>
            <li><a href="catalog/movie/create">Create a new movie</a></li>
            <li><a href="catalog/movieinstance/create">Create a new movie instance</a></li>
          </ul>
        </div>
        <div class="col-sm-10">
          {{{content}}}
        </div>
      </div>
    </div>
  </body>
</html>
