<h1>{{title}}</h1>
<form action="" method="post">
  <div class="form-group">
    <label for="movie">
      Movie:
      <select name="movie" id="">
        {{#each movie_list}}
          <option value="{{this._id}}">{{this.title}}</option>
        {{/each}}
      </select>
    </label>
  </div>
  <div class="form-group">
    <label for="imprint">
      Imprint:
      <input type="text" name="imprint" {{#if movieInstance}}value="{{movieInstance.imprint}}"{{/if}}>
    </label>
  </div>
  <div class="form-group">
    <label for="due_back">
      Date when movie available:
      <input type="date" name="due_back">
    </label>
  </div>
  <div class="form-group">
    <label for="status">
      status:
        <select name="status" id="status">
          <option value="maintenance">Maintenance</option>
          <option value="available">Available</option>
          <option value="loaned">Loaned</option>
          <option value="reserved">Reserved</option>
        </select>
    </label>
  </div>
   <div class="form-group">
   <input type="submit" value="Submit">
  </div>
</form>