<h1>{{title}}</h1>

<p>Are you sure you want to delete ID: {{movieinstance._id}}?</p>

<form action="" method="POST">
  <input type="hidden" name="movieinstanceid" value="{{movieinstance._id}}">
  <input type="submit" value="Delete">
</form>